body {
  background-color: #ddd;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav{
  height: 7dvh;
  background-color: #222;
  display: flex;
  align-items: center;

  #nav-bars-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    color: #444;
    z-index: 5;

    #nav-bars{
      height: 50%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  #side-nav-back{
    z-index: 4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 1s;

    #side-nav-void{
      position: absolute;
      left: 60vw;
      top: 7dvh;
      bottom: 0;
      right: 0;

    }

    #side-nav{
      z-index: 5;
      position: absolute;
      left: 0;
      right: 40vw;
      bottom: 0;
      top: 7dvh;
      display: flex;
      flex-direction: column;
      background-color: #444;

      .side-nav-link{
        z-index: 6;
        position: relative;
        top: 5px;
        height: 5%;
        background-color: #444;
        border-bottom: 2px solid black;
        color: white;
        font-size: 3dvh;
        padding-left: 20px;
        text-decoration: none;
      }
    }
  }
  .side-nav-translate{
    transform: translate(-100%);
  }

  .nav-link{
    height: 100%;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    display: none;
  }
}

.questions{
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .question-card{
    display: flex;
    flex-direction: column;
    width: 90%;

    textarea{
      width: 88vw;
      height: 15dvh;
    }

    button{
      width: 90vw;
      height: 4dvh;
      margin-bottom: 20px;
      background-color: red;
      border: none;
      border-radius: 15px;
      color: white;
      font-size: 2dvh;
    } 
  }
}

#card-container{
  position: absolute;
  height: 50dvh;
  width: 60vw;
  top: 45%;
  left: 50%;
  translate: -50% -50%;
  perspective: 600px;

  #card{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: center;

    .card-front{
      position: absolute;
      border: 5px solid black;
      border-radius: 35px;
      background-color: white;
      padding: 30px;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
    }

    .card-back{
      position: absolute;
      border: 5px solid black;
      border-radius: 35px;
      background-color: white;
      padding: 30px;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
      transform: rotateY(180deg);
    }

    h1{
      margin: 0px;
    }
  }
  #card.is_flipped{
    transform: rotateY(180deg);
  }
}
#arrow-div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 25%;
  justify-content: center;
  align-items: center;

  .arrow{
    height: 70%;
    width: 60%
  }
}

#quiz-body{
  position: absolute;
  top: 7dvh;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

  .quiz-link{
    width: 90vw;
    height: 8dvh;
    margin-bottom: 20px;
    background-color: #3e8ded;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 5dvh;
  }
  
  #create-link{
    width: 90vw;
    height: 8dvh;
    margin-bottom: 20px;
    background-color: #32c947;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 5dvh;
  }
  #quiz-save{
    width: 90vw;
    height: 8dvh;
    margin-bottom: 20px;
    background-color: #32c947;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 5dvh;
  }

  #quiz-delete{
    width: 90vw;
    height: 8dvh;
    margin-bottom: 20px;
    background-color: red;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 5dvh;
  }

  #add-question{
    width: 90vw;
    height: 8dvh;
    margin-bottom: 20px;
    background-color: #3e8ded;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 5dvh;
  } 

  label{
    color: white;
  }

  input{
    width: 90%;
    margin-bottom: 20px;
  }
}




